:root {
  --primary-color: #003366; /* Dark blue */
  --secondary-color: #4A90E2; /* Light blue */
  --accent-color: #FFD700; /* Yellow */
  --background-color: #F8F8F8; /* Off-white */
  --text-color: #333333; /* Dark gray */
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: 'Arial', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.content {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 2rem;
  box-shadow: 0 0 20px rgba(0, 51, 102, 0.1);
  max-width: 800px;
  width: 90%;
  height: auto;
  max-height: 90%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 14rem auto;
  box-shadow: 0 0 20px #003366;
}

h1 {
  color: var(--primary-color);
  font-size: 2.5rem;
  text-shadow: 1px 1px 2px rgba(0, 51, 102, 0.1);
  margin-bottom: 1rem;
}

p {
  font-size: 1.1rem;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .content {
    padding: 1.5rem;
    max-width: 90%;
  }

  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }
}
