.my-reports-container {
  max-width: 800px; /* Make the container smaller */
  max-height: 550px; /* Limit the height to make it scrollable */
  margin: 7rem auto;
  padding: 2rem;
  background-color: #F8F8F8;
  border-radius: 15px;
  box-shadow: 0 0 20px #003366;
  overflow-y: auto; /* Enable vertical scrolling */
}

.report-item {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid var(--primary-color);
  display: flex;
  flex-direction: column;
}

.report-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.report-text {
  flex: 1;
  margin-right: 1rem;
}

.report-media {
  max-width: 200px;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
  margin-top: 0.5rem;
}

@media (max-width: 600px) {
  .report-content {
    flex-direction: column;
  }

  .report-media {
    max-width: 100%;
    margin-top: 1rem;
  }
}
